# PRODUCTION URL
NEXT_PUBLIC_PRODUCTION_URL=""

# BUSINESS INFO
NEXT_PUBLIC_BUSINESS_EMAIL=""
NEXT_PUBLIC_BUSINESS_NUMBER=""

# NODE MAILER INFO
GOOGLE_RECEIVER=""
GOOGLE_SENDER=""

# https://myaccount.google.com/apppasswords
GOOGLE_SENDER_APP_PASSWORD=""